<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1>All Tasks</h1>
<div th:if="${message}" class="alert alert-success">
    <p th:text="${message}"></p>
</div>
<!-- Display success message if available -->
<div th:if="${successMessage}" class="alert alert-success" role="alert">
    <span th:text="${successMessage}"></span>
</div>

<div>
    <form th:action="@{/tasks}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Search..." />
        <select name="searchType">
            <option value="description" th:selected="${searchType == 'description'}">Description</option>
            <option value="title" th:selected="${searchType == 'title'}">Title</option>
            <option value="id" th:selected="${searchType == 'id'}">ID</option>
        </select>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <label for="sort">Sort by:</label>
    <select id="sort" name="sortBy" onchange="location = this.value;">
        <option th:selected="${sortBy == 'id'}" th:value="@{/tasks(page=${currentPage}, size=${size}, sortBy='id', keyword=${keyword})}">Date</option>
        <option th:selected="${sortBy == 'description'}" th:value="@{/tasks(page=${currentPage}, size=${size}, sortBy='description', keyword=${keyword})}">Description</option>
        <option th:selected="${sortBy == 'title'}" th:value="@{/tasks(page=${currentPage}, size=${size}, sortBy='title', keyword=${keyword}, searchType=${searchType})}">Title</option>
        <option th:selected="${sortBy == 'status'}" th:value="@{/tasks(page=${currentPage}, size=${size}, sortBy='status', keyword=${keyword})}">Status</option>
    </select>
</div>



<div class="border p-3">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
<!--        <th:block th:if="${tasks.empty}">-->
<!--            <tr>-->
<!--                <td colspan="4">No tasks found.</td>-->
<!--            </tr>-->
<!--        </th:block>-->
        <!-- Iterácia cez všetky úlohy a ich zobrazenie -->
<!--        <th:block th:if="${not tasks.empty}">-->
            <th:block th:each="task : ${tasks}">
                <tr>
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td>
                        <a th:href="@{/tasks/{id}(id=${task.id})}" class="btn btn-info btn-sm">Task Detail</a>
                        <button type="button" class="btn btn-sm btn-info" th:attr="data-task-id=${task.id},data-task-title=${task.title},data-task-description=${task.description}" data-toggle="modal" data-target="#taskDetailModal" onclick="openTaskDetail(this)"> Modal Detail</button>
                        <a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-primary btn-sm">Edit</a>
                        <!-- Form for Delete Task -->
                        <form th:action="@{/tasks/deleteTask/{id}(id=${task.id})}" method="delete" style="display:inline;">
                            <input type="hidden" name="method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            </th:block>
<!--        </th:block>-->
        </div>
    </tbody>
</table>


<!--*modal-->
<div class="modal fade" id="taskDetailModal" tabindex="-1" role="dialog" aria-labelledby="taskDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskDetailModalLabel">Task Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ID: <span id="taskId"></span></p>
                <p>Task Title: <span id="taskTitle"></span></p>
                <p>Task Description: <span id="taskDescription"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function openTaskDetail(button) {
        var taskId = $(button).data('task-id');
        var taskTitle = $(button).data('task-title');
        var taskDescription = $(button).data('task-description');

         $('#taskId').text(taskId);
         $('#taskTitle').text(taskTitle);
         $('#taskDescription').text(taskDescription);
    }
</script>

<div th:if="${hasResults}">
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li th:if="${currentPage > 0}" class="page-item">
                    <a class="page-link" th:href="@{/tasks(page=${currentPage - 1}, size=${size})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}" class="page-item" th:classappend="${i} == ${currentPage} ? 'active'">
                    <a class="page-link" th:href="@{/tasks(page=${i}, size=${size})}" th:text="${i + 1}">1</a>
                </li>
                <li th:if="${currentPage < totalPages - 1}" class="page-item">
                    <a class="page-link" th:href="@{/tasks(page=${currentPage + 1}, size=${size})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</th:block>




<div class="container">
    <div class="row">
        <div class="col-6">
            <a th:href="@{/tasks/create}" class="btn btn-success btn-sm">Create New Task</a>
        </div>
        <div class="col-6 text-end">
            <form th:action="@{/logout}" method="post" class="d-inline">
                <button type="submit" class="btn btn-primary">Sign Out</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>

<!--        <li th:text="${task.id}"></li>-->
<!--        <li th:text="${task.title}"></li>-->
<!--        <li th:text="${task.description}"></li>-->